.header-container {
  width: 100%;
  display: flex;
  background-color: white;
  /* box-shadow: -5px 3px 0px rgb(238, 235, 235); */
  /* margin-bottom: 5px; */
  /* padding: 5px 10px;  */ /* cái này gây lỗi do đã chỉnh width: 100% */
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}


.header-search {
  flex: 3;
  display: flex;
  align-items: center;
  padding: 5px;
}

.fb-icon {
  color: blue;
  width: 50px !important;
  height: 50px !important;
  cursor: pointer;
}

/* Nếu sd FormControl */
.search-input {
  background-color: rgb(242, 237, 237);
  border-radius: 20px;
  padding: 5px 0 5px 10px !important;
}
/* code chay */
.header-input{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.header-input .input{
  width: 95%;
  padding: 15px 0 15px 40px;
  border-radius: 25px;
  border: none;
  background-color: rgb(236, 236, 236);
  font-size: 16px;
}
.header-input .input:focus{ /* để khi bấm vào thẻ input nó ko in đậm cái outline */
  outline: none;
}
.header-input .icon{
  position: absolute;
  left: 1%;
  padding: 5px;
  border-radius: 100%;
}
.header-input .icon:hover{
  background-color: lightgray;
}


.header-icon {
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon ul {
  display: flex;
  justify-content: center;
}

.header-icon li {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid #b1154a; */
  padding: 10px 15px;
  border-bottom: 3px solid white;
  cursor: pointer;
}

.header-icon-btn {
  padding: 10px 35px !important;
}

.header-icon-item {
  color: rgb(72, 70, 70);
  width: 30px !important;
  height: 30px !important;
  /* padding: 0 10px !important */
}

.header-icon li:hover {
  border-bottom: 3px solid rgb(29, 113, 202);
}

.header-icon-btn:hover {
  background-color: rgb(246, 243, 243) !important;
  border-radius: 10px;
}

.header-icon-item:hover {
  color: rgb(29, 113, 202);
}


.header-alert{
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 5px;
}

.header-right-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-avatar {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.avatar {
  width: 45px;
  height: 45px;
  padding-right: 15px;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.name p {
  font-size: 15px;
  font-weight: bold;
}

.header-notice {
  display: flex;
}

.header-alert-btn {
  width: 30px;
  height: 30px;
  margin: 0 10px !important;
  padding: 20px !important;
  background-color: rgb(238, 234, 234) !important;
  cursor: pointer;
}

.alert-btn {
  color: black;
  width: 30px !important;
  height: 30px !important;
  border-radius: 100% !important;
  position: relative;
}

.number-alert {
  width: 20px;
  height: 20px;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: -20%;
  color: white;
  background-color: rgb(255, 16, 16);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-alert-btn:hover {
  background-color: rgb(228, 222, 222) !important;
}